.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.auth-card {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background: var(--blanco);
    border-top: 5px solid var(--oro-honor);
    box-shadow: var(--sombra-pro);
    border-radius: 8px;
    text-align: center;
}

.auth-card input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-p {
    background: var(--azul-patria);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}